{
  "presets": [
    "env",
    "stage-2",
    "es2016",
    ["es2015", {"modules": false}]
  ],
  "env": {
    "test": {
      "plugins": [
        ["istanbul", {
          "exclude": [
            "resources/assets/tests"
          ]
        }]
      ]
    }
  }
}